extends layout

block content
  html
    head
      link(rel='stylesheet', href='/stylesheets/style.css')
      block script
        script(src="/javascripts/commonFun.js")
  .top-text
    h1= title
    //- ul.up-text
    //-   each val in ['other', 'users', 'one']
    //-     li= val
    ul.up-text
      li
        a#other(href="/other") other
      li
        a(href="users") users
      li
        a(href="one") one
  body
    p Welcome to #{title}
    p #{message}
    span Hi #{title}
      