body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-size: 16px;
  margin-top: 10px;
}

p {
  font-size: 18px;
}

.top-text{
  border-bottom: 1px solid;
}
.top-text h1{
  display: inline-block;
}
.up-text{
  list-style-type: none;
  float: right;
  padding-top: 15px;
}
.up-text li{
  float: left;
  margin-left: 10px;
}